@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oswald:wght@600;700&display=swap');

:root {
  --primary: #00dfd2;
  --body: #f6f6f6;
  --dark: #000;
  --light: #fff;
  --confirmed: #00ad5d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  line-height: 1.5;
  color: var(--primary);
  background: var(--body);
  text-transform: uppercase;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

/* Global Styles */

a {
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  -webkit-appearance: none;
  cursor: pointer;
}

button:focus {
  outline: 1px solid gray;
}
